/*Mijala Shakya*/
/*17437374*/
body{
  font-size: 18px; font-family: cursive;background: #7f7fff;color: white;
  margin:2%;
}
h1,h2,h3,h4,h5,h6,p{
  margin-top: 1%; margin-bottom: 1%;padding: 0%;
}
li{
  list-style: none; /*prevents the appearence of ordered list and unordered list*/
}
a{
  text-decoration:none; /*to prevent underline is hyperlink*/
}
header{
  text-align: center; padding: 4%; color: white;
  background: linear-gradient(to right, #ccccff, #9999ff,#ccccff, #9999ff); /*this is used for google chrome*/
  background: -moz-linear-gradient(right, #ccccff, #9999ff,#ccccff, #9999ff); /*this is used for mozilla firefox*/
  background: -webkit-linear-gradient(right, #ccccff, #9999ff,#ccccff, #9999ff); /*this is used for safari*/
  background: -o-linear-gradient(right, #ccccff, #9999ff,#ccccff, #9999ff); /*this is used for opera*/
  margin-bottom: 0.5%;
}

header h2{
	color: white;
  text-shadow: 10px 6px 6px black; /*to include decoration in the text*/
}

header article img{
	width:5%;border-radius: 50%;
  transition: width 5s; /*to enable animation in image*/
}
header article img:hover{
  width:8%; height:8%;
}
section{
  background:	#7f7fff;display: flex; flex-direction: row;
  text-align: center;
  justify-content: space-around;/* to specify the space around the different sections*/
  padding: 2%;margin-top: 0.5%;
}
.sidebar{
  background: linear-gradient(45deg, #ccccff, #9999ff,#ccccff, #9999ff); /*this is used for google chrome*/
	background: -moz-linear-gradient(45deg, #ccccff, #9999ff,#ccccff, #9999ff); /*this is used for mozilla firefox*/
  background: -webkit-linear-gradient(45deg, #ccccff, #9999ff,#ccccff, #9999ff); /*this is used for safari*/
  background: -o-linear-gradient(45deg, #ccccff, #9999ff,#ccccff, #9999ff); /*this is used for opera*/
  width: 25%; margin-right: 2%; padding: 1%;
}
.sidebar ul{
  display: flex; flex-flow: column wrap;
}
.sidebar ul li{
  margin: 1%; padding: 4%; background: 	#6666ff;
  flex-grow: 1; margin-bottom: 2%;
  margin-right: 10%; /*apply space at the right side of the list*/
}
.sidebar ul li:hover{
  background: 	#000066;border-radius: 50%;
}
.sidebar ul li a{
  color: white; display:block;
}
.sidebar ul li a:hover{
  color:yellow;
}
.word{
  background: linear-gradient(#ccccff, #9999ff,#ccccff, #9999ff); /*this is used for google chrome*/
  background: -moz-linear-gradient(#ccccff, #9999ff,#ccccff, #9999ff); /*this is used for mozilla firefox*/
  background: -webkit-linear-gradient(#ccccff, #9999ff,#ccccff, #9999ff); /*this is used for safari*/
  background: -o-linear-gradient(#ccccff, #9999ff,#ccccff, #9999ff); /*this is used for opera*/
  width: 75%; margin-right: 2%; padding: 1%;
}
.word p{
  text-align: justify;
  margin-left: 3%;
}
.word .first h2{
  color:white;
  text-shadow: 2px 4px 2px black;
}
.word h3{
  text-align: justify;
  margin-left: 3%;
  margin-top:  4%;
}
.word .first{
  background:#7f7fff;
  margin:2%; padding:2%;
}
.word .second{
  background:#7f7fff;
  margin:2%;padding:2%;
}
.word .third{
  background:#7f7fff;
  margin:2%;padding:2%;
}
.word .fourth{
  background:#7f7fff;
  margin: 2%;padding:2%;
}
.word .fifth{
  background:#7f7fff;
  margin: 2%;padding:2%;
}
footer{
  background: linear-gradient(to right, #ccccff, #9999ff,#ccccff, #9999ff); /*this is used for google chrome*/
  background: -moz-linear-gradient(right, #ccccff, #9999ff,#ccccff, #9999ff); /*this is used for mozilla firefox*/
  background: -webkit-linear-gradient(right, #ccccff, #9999ff,#ccccff, #9999ff); /*this is used for safari*/
  background: -o-linear-gradient(right, #ccccff, #9999ff,#ccccff, #9999ff); /*this is used for opera*/
  justify-content: space-around; /*to display spaces around the words*/
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 1.5%;
  margin-bottom: 0.5%;
  display: flex; flex-direction: column; /*display each footer in column*/
}
footer article h3{
  text-align: center;
  text-shadow: 10px 6px 6px black;
}
.pic {
  text-align: right;
}
.pic img{
  width:3%; border-radius: 50%;
}
footer article h3 a{
  color:white;
}
footer article h3 a:hover{
  color:yellow;
}

@media all and (max-width: 600px){ /* for implementing mobile responsive*/
section{
  flex-direction: column; /* all the elements im mobile appears in column*/
  width: 96%;
}
.sidebar{
  width:98%;
  margin-bottom: 2%; /*to apply spacing below the side section*/

}
.word{
	width: 98%;
}
.pic{
  text-align: center;
  width: 100%;
}
.pic img{
  width: 13%;
}
footer{
  flex-direction: column;
  width: 97%;
  font-size: 15px;
}
footer article{
	width: 100%;
  text-align: center;
}
footer article:last-child{
margin-bottom: 0px;
}

}
