body{
  font-size: 18px; font-family: cursive;background:	#d3660d;
  color: white;
  margin: 2%;
}
h1,h2,h3,h4,h5,h6,p{
  margin-top: 1%; margin-bottom: 1%;padding: 0%;
}
li{
  list-style: none;
}
a{
 text-decoration:none;
}
header{
  text-align: center; padding: 4%; color: white;background: radial-gradient(#e9951e, #efe299, #e4951e, #efe299);
}
header h2{
	color: white;
text-shadow: 3px 3px 3px black;
}

header article img{
	width:5%;border-radius: 50%;transition: width 2s;
}
header article img:hover{
  width:6%; height:6%;
}
section{
  background:#f1d375;
   display: flex;flex-direction: row ;text-align: center;
  justify-content: space-around; padding: 2%; margin-top: 0.5%;
}
.sidebar{
  background:radial-gradient(#FAFAD2,#F0E68C,#F0E68C,#FAFAD2,#F0E68C,#F0E68C,#FAFAD2,#F0E68C,#F0E68C);
  background-repeat: no-repeat;
  background-size: cover;
  width: 25%; margin-right: 2%;padding: 1%; border-radius: 10%;
}
.sidebar ul{
  display: flex;flex-flow: column wrap;
}
.sidebar ul li{
  margin:1%;padding: 4%;background:#e9951e; flex-grow: 1; margin-bottom: 2%;
  margin-right: 10%;
}
.sidebar ul li:hover{
  background: 	#F4A460;
}
.sidebar ul li a{
  color: white;
}
.sidebar ul li ul{
  display :none;
}
.sidebar ul li ul li p{
  margin: 1%;padding: 0.5%;background:#FFA500	;text-align: center;border-radius: 10%
}
.sidebar ul li:hover ul{
  display: block;background: 	#F4A460;
}
.sidebar ul li ul li{
  background:	#F4A460;
}
.sidebar ul li ul li a:hover{
  color: #068481;
}
.sent{
  background:linear-gradient(#FAFAD2,#F0E68C,#F0E68C,#FAFAD2,#F0E68C,#F0E68C,#FAFAD2,#F0E68C,#F0E68C);
  width:75%;
  color: black;
  font-family:cursive;
  text-align: left
}
.sent form fieldset legend{
  margin: 2%;
}
input[type=text], select {
    width: 95%;
    padding: 2% 2%;
    margin: 1% 0;
    display: inline-block;
    border: 1% solid ;
    border-radius: 5px;

}
input[type=email], select {
    width: 95%;
    padding: 2% 2%;
    margin: 1% 0;
    display: inline-block;
    border: 1% solid ;
    border-radius: 5px;

}
input[type=contact], select {
    width: 95%;
    padding: 2% 2%;
    margin: 1% 0;
    display: inline-block;
    border: 1% solid ;
    border-radius: 5px;

}
input[type=submit], select {
    width: 10%;
    padding: 2% 2%;
    margin: 1% 0;
    display: inline-block;
    border: 1% solid ;
    border-radius: 5px;

}
input[type=date], select {
    width: 95%;
    padding: 2% 2%;
    margin: 1% 0;
    display: inline-block;
    border: 1% solid ;
    border-radius: 5px;

  }

  textarea[name=comments], select {
      width: 95%;
      padding: 2% 2%;
      margin: 1% 0;
      display: inline-block;
      border: 1% solid ;
      border-radius: 5px;

    }
  .sent h2{
    margin-left: 2%;
  }
  .sent p{
    margin-left: 2%;
  }
  .sent img{
    width:20%;
  }

footer{
  background: radial-gradient(#e9951e, #efe299, #e4951e, #efe299);
  color: white;
  text-size: 18px;
  text-aligm: center;
  padding: 1.5%;
  margin-bottom: 0.5%;
  display: flex; flex-direction: column;
}
footer article h3{
  text-align: center;text-shadow: 3px 3px 3px black;
}

.logo {
    text-align: right;
}
.logo img{
  width:3%; border-radius: 50%;
}

@media all and (max-width: 600px){
	section{
	flex-direction: column;
}

.sidebar{
	width:100%;
margin-bottom: 2%;
}

.sent{
	width: 100%;
}

footer{
	flex-direction: column;
}

footer article{
	width: 100%;
	margin-bottom: 1 px solid black;
text-align: center;
}

footer article: last child{
margin-bottom: none;
}

}
