body{
  font-size: 18px; font-family: cursive;background:	#d3660d;
  color: white;
  margin: 2%;
}
h1,h2,h3,h4,h5,h6,p{
  margin-top: 1%; margin-bottom: 1%;padding: 0%;
}
li{
  list-style: none;
}
a{
 text-decoration:none;
}
header{
  text-align: center; padding: 4%; color: white;background: radial-gradient(#e9951e, #efe299, #e4951e, #efe299);
}
header h2{
	color: white;
text-shadow: 1px 1px 2px black, 0 0 25px lightblue, 0 0 5px #B22222;
}

header article img{
	width:5%; border-radius: 50%;
}
header article img:hover{
  width:6%;
}
section{
  background:#f1d375;
   display: flex;flex-direction: row ;text-align: center;
  justify-content: space-around; padding: 2%; margin-top: 0.5%;
}
.sidebar{
  background-image: url("image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 25%; margin-right: 2%;padding: 1%; border-radius: 10%;
}
.sidebar ul{
  display: flex;flex-flow: column wrap;
}
.sidebar ul li{
  margin:1%;padding: 4%;background:#e9951e; flex-grow: 1; margin-bottom: 2%;
}
.sidebar ul li:hover{
  background: 	#F4A460;
}
.sidebar ul li a{
  color: white;
}
.sidebar ul li ul{
  display :none;
}
.sidebar ul li ul li p{
  margin: 1%;padding: 0.5%;background:#FFA500	;text-align: center;border-radius: 10%
}
.sidebar ul li:hover ul{
  display: block;background: 	#F4A460;
}
.sidebar ul li ul li{
  background:	#F4A460;
}
.sidebar ul li ul li a:hover{
  color: #068481;
}
