/*Mijala Shakya*/
/*17437374*/
body{
  font-size: 18px; font-family: cursive;background: #7f7fff;color: white;
  margin: 2%;
}
h1,h2,h3,h4,h5,h6,p{
  margin-top: 1%; margin-bottom: 1%;padding: 0%;
}
li{
  list-style: none;/*prevents the appearence of ordered list and unordered list*/
}
a{
  text-decoration:none; /*to prevent underline is hyperlink*/
}
header{
  text-align: center; padding: 4%; color: white;
  background: linear-gradient(to right, #ccccff, #9999ff,#ccccff, #9999ff); /*this is used for google chrome*/
  background: -moz-linear-gradient(right, #ccccff, #9999ff,#ccccff, #9999ff); /*this is used for mozilla firefox*/
  background: -webkit-linear-gradient(right, #ccccff, #9999ff,#ccccff, #9999ff); /*this is used for safari*/
  background: -o-linear-gradient(right, #ccccff, #9999ff,#ccccff, #9999ff); /*this is used for opera*/
  margin-bottom: 0.5%;
}
header h2{
  color: white;
  text-shadow: 10px 6px 6px black; /*to include decoration in the text*/
}
header article img{
  width:5%;border-radius: 50%;
  transition: width 5s; /*to enable animation in image*/
}
header article img:hover{
  width:8%; height:8%;
}
section{
  background:#7f7fff;
   display: flex;flex-direction: row ;text-align: center;
   justify-content: space-around; /*to specify the space around the different sections*/
   padding: 2%; margin-top: 0.5%;
}
.sidebar{
  background: linear-gradient(45deg, #ccccff, #9999ff,#ccccff, #9999ff); /*this is used for google chrome*/
  background: -moz-linear-gradient(45deg, #ccccff, #9999ff,#ccccff, #9999ff); /*this is used for mozilla firefox*/
  background: -webkit-linear-gradient(45deg, #ccccff, #9999ff,#ccccff, #9999ff); /*this is used for safari*/
  background: -o-linear-gradient(45deg, #ccccff, #9999ff,#ccccff, #9999ff); /*this is used for opera*/
  width: 25%; margin-right: 2%; padding: 1%;
}
.sidebar ul{
  display: flex;flex-flow: column wrap;
  margin-right: 15%; /*apply space at the right side of the list*/
}
.sidebar ul li{
  margin:1%;padding: 4%;background:#6666ff; flex-grow: 1; margin-bottom: 2%;
}
.sidebar ul li:hover{
  background:#000066;border-radius: 50%;
}
.sidebar ul li a{
  color: white;display:block;
}
.sidebar ul li a:hover{
  color:yellow;
}
.sent{
  background: linear-gradient(#ccccff, #9999ff,#ccccff, #9999ff); /*this is used for google chrome*/
  background: -moz-linear-gradient(#ccccff, #9999ff,#ccccff, #9999ff); /*this is used for mozilla firefox*/
  background: -webkit-linear-gradient(#ccccff, #9999ff,#ccccff, #9999ff); /*this is used for safari*/
  background: -o-linear-gradient(#ccccff, #9999ff,#ccccff, #9999ff); /*this is used for opera*/
  width:75%;color: black;
  font-family:cursive;text-align: left; color:white;
}
.sent form fieldset legend{
  margin: 2%;
}
input[type=text], select {
  width: 95%;
  padding: 2% 2%;
  margin: 1% 0;
  display: inline-block;
  border: 2px  ;
  border-radius: 5px;
}
input[type=email], select {
  width: 95%;
  padding: 2% 2%;
  margin: 1% 0;
  display: inline-block;
  border: 2px  ;
  border-radius: 5px;
}
input[type=contact], select {
  width: 95%;
  padding: 2% 2%;
  margin: 1% 0;
  display: inline-block;
  border: 2px  ;
  border-radius: 5px;
}
input[type=submit], select {
  width: 10%;
  padding: 2% 2%;
  margin: 1% 0;
  display: inline-block;
  border: 2px  ;
  border-radius: 5px;
}
input[type=date], select {
  width: 95%;
  padding: 2% 2%;
  margin: 1% 0;
  display: inline-block;
  border: 2px  ;
  border-radius: 5px;
}
textarea[name=comments], select {
  width: 95%;
  padding: 2% 2%;
  margin: 1% 0;
  display: inline-block;
  border: 2px  ;
  border-radius: 5px;
}
.sent h2{
  margin-left: 2%;
}
.sent p{
  margin-left: 2%;
}
.sent img{
  width:20%;
}
footer{
  background: linear-gradient(to right, #ccccff, #9999ff,#ccccff, #9999ff); /*this is used for google chrome*/
  background: -moz-linear-gradient(right, #ccccff, #9999ff,#ccccff, #9999ff); /*this is used for mozilla firefox*/
  background: -webkit-linear-gradient(right, #ccccff, #9999ff,#ccccff, #9999ff); /*this is used for safari*/
  background: -o-linear-gradient(right, #ccccff, #9999ff,#ccccff, #9999ff); /*this is used for opera*/
  justify-content: space-around;
  color: black;
  font-size: 18px;
  text-align: center;
  padding: 1.5%;
  margin-bottom: 0.5%;
  display: flex; flex-direction: column; /*display each footer in column*/
}
footer article h3{
  text-align: center;color: white;
  text-shadow: 10px 6px 6px black;
}
.logo {
  text-align: right;
}
.logo img{
  width:3%; border-radius: 50%;
}
footer article h3 a{
  color:white; /*display the color of hyperlink in white color*/
}
footer article h3 a:hover{
  color:yellow;
}

@media all and (max-width: 600px){ /* for implementing mobile responsive*/
section{
	flex-direction: column; /* all the elements im mobile appears in column*/
  width: 96%;
}
.sidebar{
	width:98%;
  margin-bottom: 2%; /*to apply spacing below the side section*/
}
.sidebar ul li{
  width: 92%;
}
.sent{
	width: 100%;
}
input[type=submit]{
  width:100%;
}
.logo{
  text-align: center;
  width: 100%;
}
.logo img{
  width: 13%;
}
footer{
	flex-direction: column;
  width: 97%;
  font-size: 15px;
}
footer article{
	width: 100%;
  text-align: center;
}
footer article:last-child{
margin-bottom: 0px;
}

}
