body{
  font-size: 18px; font-family: cursive;background: black;color: white;
}
h1,h2,h3,h4,h5,h6,p{
  margin-top: 1%; margin-bottom: 1%;padding: 0%;
}
li{
  list-style: none; /*prevents the appearence of ordered list and unordered list*/
}
a{
 text-decoration:none;
}
header{
  text-align: center; padding: 4%; color: white;
  background: radial-gradient(#bb112a, #913334, #bb112a, #913334); /*this code is used for google chrome*/
  background: -moz-radial-gradient(#bb112a, #913334, #bb112a, #913334); /*this code is used for mozilla firefox*/
  background: -webkit-radial-gradient(#bb112a, #913334, #bb112a, #913334); /*this code is used for safari*/
  background: -o-radial-gradient(#bb112a, #913334, #bb112a, #913334); /*this code is used for opera*/
  margin-bottom: 0.5%;
}

header h2{
	color: white;
text-shadow: 3px 3px 3px black
}

header article img{
	width:5%;border-radius: 50%;transition: width 2s;
}
header article img:hover{
  width:6%; height:6%;
}

section{
  background: #f37d73;
  display: flex; flex-direction: row;
text-align: center;
justify-content: space-around;/* to specify the space around the different sections*/
padding: 2%;
margin-top: 0.5%;

}

.sidebar{
	background: linear-gradient(to right, #b22222, #955251, #b22222, #955251); /*this code is used for google chrome*/
	background: -moz-linear-gradient(right, #b22222, #955251, #b22222, #955251); /*this code is used for mozilla firefox*/
  background: -webkit-linear-gradient(right, #b22222, #955251, #b22222, #955251); /*this code is used for safari*/
  background: -o-linear-gradient(right, #b22222, #955251, #b22222, #955251); /*this code is used for opera*/
width: 25%; margin-right: 2%; padding: 1%; border-radius: 10%;
}

.sidebar ul{
	display: flex; flex-flow: column wrap;
}

.sidebar ul li{
	margin: 1%; padding: 4%; background: #FF6347;
flex-grow: 1; margin-bottom: 2%;margin-right: 10%;
}

.sidebar ul li:hover{
	background: #b20000;
}

.sidebar ul li a{
	color: white;
}

.sidebar ul li ul{
	display: none;
}

.sidebar ul li ul li p{
	margin: 1%; padding: 0.5%; background: #FF6347;
text-align: center; border-radius: 10%;
}

.sidebar ul li:hover ul{
	display: block; background: #b20000;
}

.sidebar ul li ul li{
background: #b20000;
}
.sidebar ul li ul li a:hover{
color: yellow;
}

.image{
	background: linear-gradient(#b22222, #955251, #b22222, #955251); /*this code is used for google chrome*/
  background: -moz-linear-gradient(#b22222, #955251, #b22222, #955251); /*this code is used for mozilla firefox*/
  background: -webkit-linear-gradient(#b22222, #955251, #b22222, #955251); /*this code is used for safari*/
  background: -o-linear-gradient(#b22222, #955251, #b22222, #955251); /*this code is used for opera*/
	width: 75%; margin-right: 2%; padding: 1%; border-radius: 10%;
}
.image img{
  width:30%;/* to implenment the sixe of the image*/
border-radius: 10px 60px;
transition:transform 2s;


}

.image img:hover{
  transform: rotate(360deg); /* animation used to rotate the image 360 degree*/
}

.image h2{
  font-size: 20px;text-shadow: 3px 3px 3px white;color:black;
}

.image p{
	font-size: 20px; color: black; color; text-align: center;
}

footer{
    background: radial-gradient(#bb112a, #913334, #bb112a, #913334); /*this code is used for google chrome*/
    background: -moz-radial-gradient(#bb112a, #913334, #bb112a, #913334); /*this code is used for mozilla firefox*/
    background: -webkit-radial-gradient(#bb112a, #913334, #bb112a, #913334); /*this code is used for safari*/
    background: -o-radial-gradient(#bb112a, #913334, #bb112a, #913334); /*this code is used for opera*/

justify-content: space-around;
color: black;
text-size: 18px;
text-aligm: center;
padding: 1.5%;
margin-bottom: 0.5%;
display: flex; flex-direction: column;
}

footer article h3{
  text-align: center;text-shadow: 3px 3px 3px white;
}
.pic {
  text-align: right;
}
.pic img{
width:3%; border-radius: 50%;
}



@media all and (max-width: 600px){ /* for implementing mobile responsive*/
	section{
	flex-direction: column; /* all the elements im mobile appears in column*/
}

.sidebar{
	width:100%;
margin-bottom: 3%;
}

.image{
	width: 100%;
}

footer{
	flex-direction: column; /* all the elements im mobile appears in column*/
}

footer article{
	width: 100%;
	margin-bottom: 1 px solid black;
text-align: center;
}

footer article: last child{
margin-bottom: none;
}

}
