body{
  font-size: 18px; font-family: cursive;background:#00FFAA;
  color: white;
  margin: 2%;
}
h1,h2,h3,h4,h5,h6,p{
  margin-top: 1%; margin-bottom: 1%;padding: 0%;
}
li{
  list-style: none;
}
a{
 text-decoration:none;
}
header{
  text-align: center; padding: 4%; color: white;
  background:#7CCD7C;
  margin-bottom: 0.5%;
}

header h2{
	color: white;
text-shadow: 3px 3px 3px black;
}

header article img{
	width:5%;border-radius: 50%;transition: width 2s;
}
header article img:hover{
  width:6%; height:6%;
}

section{
  background:#7CCD7C;
   display: flex;flex-direction: row ;text-align: center;
  justify-content: space-around; padding: 2%; margin-top: 0.5%;
}
.sidebar{
  background:#3CB371;
  width: 25%; margin-right: 2%;padding: 1%; border-radius: 10%;
}
.sidebar ul{
  display: flex;flex-flow: column wrap;
}
.sidebar ul li{
  margin:1%;padding: 4%;background:#20BF9F; flex-grow: 1; margin-bottom: 2%;
  margin-right: 10%;
}
.sidebar ul li:hover{
  background: #00FFAA;
}
.sidebar ul li a{
  color: white;
}
.sidebar ul li ul{
  display :none;
}
.sidebar ul li ul li p{
  margin: 1%;padding: 0.5%;background:#66CDAA	;text-align: center;border-radius: 10%
}
.sidebar ul li:hover ul{
  display: block;background: #00FFAA;
}
.sidebar ul li ul li{
  background: #00FFAA;
}
.sidebar ul li ul li a:hover{
  color: #068481;

}
.para{
  background:#3CB371;
  width:75%;
  color: black;
  font-family:cursive;
}

.para p{
  text-align: justify;
  margin:4%;
  color:white;
}
.para img{
  width:30%;margin-top: 1%;border-radius: 15% 50% ;transition: width 4s;
}
.para img:hover{
  width:40%; border-radius: 20% 55%;
}
footer{
  background:#7CCD7C;
  justify-content: space-around;
  color: white;
  text-size: 18px;
  text-aligm: center;
  padding: 1.5%;
  margin-bottom: 0.5%;
  display: flex; flex-direction: column;
}
footer article h3{
  text-align: center;
  text-shadow: 3px 3px 3px black;
}
.logo {
  text-align: right;
}
.logo img{
width:3%; border-radius: 50%;
}
@media all and (max-width: 600px){
	section{
	flex-direction: column;
}

.sidebar{
	width:100%;
margin-bottom: 2%;
}

.para{
	width: 100%;
}

footer{
	flex-direction: column;
}

footer article{
	width: 100%;
	margin-bottom: 1 px solid black;
text-align: center;
}

footer article: last child{
margin-bottom: none;
}

}
