/*Mijala Shakya*/
body{
  font-size: 18px; font-family: cursive;background: #7f7fff;color: white;
  margin: 2%;
}
h1,h2,h3,h4,h5,h6,p{
  margin-top: 1%; margin-bottom: 1%;padding: 0%;
}
li{
  list-style: none; /*prevents the appearence of ordered list and unordered list*/
}
a{
 text-decoration:none; /*to prevent underline is hyperlink*/
}
header{
  text-align: center; padding: 4%; color: white;
  background: linear-gradient(to right, #ccccff, #9999ff,#ccccff, #9999ff); /*this is used for google chrome*/
  background: -moz-linear-gradient(right, #ccccff, #9999ff,#ccccff, #9999ff); /*this is used for mozilla firefox*/
  background: -webkit-linear-gradient(right, #ccccff, #9999ff,#ccccff, #9999ff); /*this is used for safari*/
  background: -o-linear-gradient(right, #ccccff, #9999ff,#ccccff, #9999ff); /*this is used for opera*/
  margin-bottom: 0.5%;
}

header h2{
	color: white;
text-shadow: 10px 6px 6px black; /*to include decoration in the text*/
}

header article img{
	width:5%;border-radius: 50%;
  transition: width 5s; /*to enable animation in image*/
}
header article img:hover{
  width:8%; height:8%;
}

section{
  background:#7f7fff;
   display: flex;flex-direction: row ;text-align: center;
  justify-content: space-around; /*to specify the space around the different sections*/
   padding: 2%; margin-top: 0.5%;
}
.sidebar{
  background: linear-gradient(45deg, #ccccff, #9999ff,#ccccff, #9999ff); /*this is used for google chrome*/
  background: -moz-linear-gradient(45deg, #ccccff, #9999ff,#ccccff, #9999ff); /*this is used for mozilla firefox*/
  background: -webkit-linear-gradient(45deg, #ccccff, #9999ff,#ccccff, #9999ff); /*this is used for safari*/
  background: -o-linear-gradient(45deg, #ccccff, #9999ff,#ccccff, #9999ff); /*this is used for opera*/
  width: 25%; margin-right: 2%; padding: 1%;
}
.sidebar ul{
  display: flex;flex-flow: column wrap;
}
.sidebar ul li{
  margin:1%;padding: 4%;background:	#6666ff; flex-grow: 1; margin-bottom: 2%;
  margin-right: 10%; /*apply space at the right side of the list*/
}
.sidebar ul li:hover{
  background: 	#000066;border-radius: 50%;
  }

.sidebar ul li a{
  color: white; display:block;
}
.sidebar ul li a:hover{
  color:yellow;
}

.para{
  background: linear-gradient(#ccccff, #9999ff,#ccccff, #9999ff); /*this is used for google chrome*/
  background: -moz-linear-gradient(#ccccff, #9999ff,#ccccff, #9999ff); /*this is used for mozilla firefox*/
  background: -webkit-linear-gradient(#ccccff, #9999ff,#ccccff, #9999ff); /*this is used for safari*/
  background: -o-linear-gradient(#ccccff, #9999ff,#ccccff, #9999ff); /*this is used for opera*/
  width: 75%; margin-right: 2%; padding: 1%;
}

.para h2{
  color:white;
  text-shadow: 2px 4px 2px black;
}
.para p{
  text-align: justify;
  margin:4%;
  color:white;
}
.para img{
  width:30%;margin-top: 1%;border-radius: 15% 50% ;transition: width 4s;
}
.para img:hover{
  width:40%; border-radius: 20% 55%;
}
footer{
  background: linear-gradient(to right, #ccccff, #9999ff,#ccccff, #9999ff); /*this is used for google chrome*/
  background: -moz-linear-gradient(right, #ccccff, #9999ff,#ccccff, #9999ff); /*this is used for mozilla firefox*/
  background: -webkit-linear-gradient(right, #ccccff, #9999ff,#ccccff, #9999ff); /*this is used for safari*/
  background: -o-linear-gradient(right, #ccccff, #9999ff,#ccccff, #9999ff); /*this is used for opera*/
  justify-content: space-around;
  color: black;
  font-size: 18px;
  text-align: center;
  padding: 1.5%;
  margin-bottom: 0.5%;
  display: flex; flex-direction: column; /*display each footer in column*/
}
footer article h3{
  text-align: center;color: white;
text-shadow: 10px 6px 6px black;
}
.logo {
  text-align: right;
}
.logo img{
  width:3%; border-radius: 50%;
}
footer article h3 a{
  color:white;
}
footer article h3 a:hover{
  color:yellow;
}

@media all and (max-width: 600px){ /* for implementing mobile responsive*/
	section{
	flex-direction: column; /* all the elements im mobile appears in column*/
}

.sidebar{
	width:100%;
margin-bottom: 2%; /*to apply spacing below the side section*/
}

.para{
	width: 100%;
}

footer{
	flex-direction: column;
}

footer article{
	width: 100%;
  text-align: center;
}

footer article:last-child{
  margin-bottom: 0px;
}

}
