body{
  font-size: 18px; font-family: cursive; background: linear-gradient(	#778899,	#87CEEB,#87CEFA,	#778899);
  background: -moz-linear-gradient(	#778899,	#87CEEB,#87CEFA,	#778899);
  background: -o-linear-gradient(#778899,	#87CEEB,#87CEFA,	#778899);
  background: -webkit-linear-gradient(#778899,	#87CEEB,#87CEFA,	#778899);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin: 4%;
}
h1,h2,h3,h4,h5,h6,p{
  margin-top: 1%; margin-bottom: 1%;padding: 0%;
}
li{
  list-style: none;
}
a{
 text-decoration:none;
}
header{
  text-align: center; padding: 4%; color: white;
  background:#42C0FB;
  margin-bottom: 0.5%;
}

header h2{
	color: white;
text-shadow: 1px 1px 2px black, 0 0 25px lightblue, 0 0 5px #B22222;
}

header article img{
	width:5%;border-radius: 50%;transition: width 2s;
}
header article img:hover{
  width:6%; height:6%;
}
section{
  background:#517693; display: flex;flex-direction: row ;text-align: center;
  justify-content: space-around; padding: 2%; margin-top: 0.5%;
}
.sidebar{
  background:#B0C4DE;
  width: 25%; margin-right: 2%;padding: 1%; border-radius: 10%;
}
.sidebar ul{
  display: flex;flex-flow: column wrap;
}
.sidebar ul li{
  margin:1%;padding: 4%;background:#607B8B; flex-grow: 1; margin-bottom: 2%;
  margin-right: 10%;
}
.sidebar ul li:hover{
  background: #006DB0;
}
.sidebar ul li a{
  color: white;
}
.sidebar ul li ul{
  display :none;
}
.sidebar ul li ul li p{
  margin: 1%;padding: 0.5%;background:#87CEFF;text-align: center;border-radius: 10%
}
.sidebar ul li:hover ul{
  display: block;background: #006DB0;
}
.sidebar ul li ul li{
  background: #006DB0;
}
.sidebar ul li ul li a:hover{
  color: yellow;
}
.word{
  background:#B0C4DE;
  width:75%;
  color:black;
  text-align:justify;
}
.word h2{
  text-align: center;
}
.word p{
  margin-left: 3%;
}
.word h3{
  margin-left: 3%;
  margin-top:  4%;
}
footer{
background: #42C0FB;
justify-content: space-around;
color: white;
text-size: 18px;
text-aligm: center;
padding: 1.5%;
margin-bottom: 0.5%;
display: flex; flex-direction: column;
}
footer article h3{
  text-align: center;
  text-shadow: 2px 4px 2px black;
}
@media all and (max-width: 600px){
	section{
	flex-direction: column;
}

.sidebar{
	width:100%;
margin-bottom: 2%;
}

.word{
	width: 100%;
}

footer{
	flex-direction: column;
}

footer article{
	width: 100%;
	margin-bottom: 1 px solid black;
text-align: center;
}

footer article: last child{
margin-bottom: none;
}

}
